<!DOCTYPE html>
<html ng-app='httpServices'>
<head>
	<script type="text/javascript" src="xml2json.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="script.js"></script>
  <meta charset="UTF-8">
  <title>Conjuggle!</title>
</head>
<body>
<h1>Welcome To Conjuggle</h1>
<div ng-controller='practicehttp'>
	<label for="Enter Word">
		Enter Word:
		<input type="text" name="word" id="word" ng-model="name"></br>
		<button ng-click="logIt()">practice</button>
	</label>

</div>
</body>
</html>